[phases.setup]
nixPkgs = ["nodejs_18", "npm-9_x", "openssl"]

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]
cacheDirectories = []

[start]
cmd = "node scripts/start.js"

[providers]
node = "18"
