-- AlterTable
ALTER TABLE "raffles" ADD COLUMN     "center_logo_url" TEXT,
ADD COLUMN     "slice_opacity" DOUBLE PRECISION DEFAULT 0.5,
ADD COLUMN     "wheel_background_url" TEXT;

-- CreateIndex
CREATE UNIQUE INDEX "point_history_message_id_key" ON "point_history"("message_id");

-- AddForeignKey
ALTER TABLE "advent_purchases" ADD CONSTRAINT "advent_purchases_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "advent_day_status" ADD CONSTRAINT "advent_day_status_drawn_by_fkey" FOREIGN KEY ("drawn_by") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

